/* ESTILOS GENERADOS DESDE 'pruebah/scss'
CUALQUIER MODIFICACION DE ESTE ARCHIVO SERA SOBREESCRITA
(para modificaciones sin compilador, editar el archivo 'pruebah/css/no-sass-styles.css') */
.region {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}

.region.region-primary-menu {
  background-color: yellow;
}

.form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-name {
  font-size: 3.125rem;
}

.site-name a {
  text-decoration: none;
  text-transform: lowercase;
}

header {
  background-color: #636;
  padding-top: 1rem;
  color: #fff;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

header a {
  color: #fff;
}

header #block-pruebah-branding {
  margin-bottom: 2rem;
}

.breadcrumb {
  padding: 1rem 0;
}

.layout-container > footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.layout-container > footer a {
  color: #fff;
}

.menu--footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu--footer .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -moz-box-align: center;
       align-items: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -moz-box-pack: center;
       justify-content: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 48em) {
  .menu--footer .menu {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
  }
}

.menu--footer .menu li {
  padding: .3rem;
  margin: 1rem;
  display: none;
  cursor: pointer !important;
}

.menu--footer .menu li#loadmore {
  font-size: 1.25rem;
}

.menu--footer .menu li#loadmore a {
  padding: 0.5rem;
}

.menu--footer .menu li a {
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer !important;
}

.menu--footer .menu li a:hover {
  background-color: #fff;
  color: #000;
}

header .menu--main .menu {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

header .menu--main .menu li {
  margin-right: 1rem;
}

header .menu--main a {
  background-color: #fff;
  padding: .5rem 1rem;
  color: #000;
  border: 3px solid #000;
  border-bottom: 3px solid #000;
}

header .menu--main a.is-active {
  border-bottom: 3px solid #fff;
}

.field--name-field-imagenes.field__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -moz-box-pack: start;
       justify-content: start;
}

.field--name-field-imagenes.field__items .field__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 48%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 48%;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
  text-align: center;
  margin: 1%;
}

@media (min-width: 60em) {
  .field--name-field-imagenes.field__items .field__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }
}

.flexcol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 60em) {
  .flexcol {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
}

.flexcol__2 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

@media (min-width: 60em) {
  .flexcol__2 {
    padding: 0;
  }
}

@media (min-width: 60em) {
  .flexcol__2__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    padding-right: 1rem;
  }
}

@media (min-width: 60em) {
  .flexcol__2__sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
  }
}
