.field--name-field-imagenes {
  &.field__items {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(start);

    .field__item {
      @include flex(0, 1, 48%);

      @include media {
        @include flex(0, 1, 30%);
      }

      text-align: center;
      margin: 1%;
    }
  }
}
