.flexcol {
  @include flexbox;
  @include flex-wrap(wrap);

  @include media {
    @include flex-wrap(nowrap);
  }

  &__2 {
    box-sizing: border-box;
    padding: 1rem;
    @include flex(1, 1, 100%);

    @include media {
      padding: 0;
    }

    &__content {
      @include media {
        @include flex(1, 1, 0%);
        padding-right: 1rem;
      }
    }

    &__sidebar {
      @include media {
        @include flex(0, 1, 20%);

      }
    }
  }
}
