.menu--footer {
  @include flexbox;
  @include flex-wrap(wrap);

  .menu {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    box-sizing: border-box;
    @include justify-content(center);
    @include flex-direction(column);

    width: 100%;

    @include media(sm) {
      @include flex-direction(row);
      width: auto;
    }

    margin: 0;
    padding: 0;

    li {
      padding: .3rem;
      margin: 1rem;
      display: none;
      cursor: pointer !important;

      &#loadmore {
        @include font-size(20px);

        a {
          padding: 0.5rem;
        }
      }

      a {
        text-decoration: none;
        padding: 1rem 2rem;
        border: 1px solid #fff;
        width: 100%;
        cursor: pointer !important;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }



}
