

header {
  .menu--main {
    .menu {
      margin-bottom: 3px;
      @include flexbox;

      li {
        margin-right: 1rem;
      }
    }

    a {
      background-color: #fff;
      padding: .5rem 1rem;
      color: #000;
      border: 3px solid #000;
      border-bottom: 3px solid #000;

      &.is-active {
        border-bottom: 3px solid #fff;

      }
    }
  }
}
