.site-name {
  @include font-size(50px);

  a {
    text-decoration: none;
    text-transform: lowercase;
  }
}


header {
  background-color: #636;
  padding-top: 1rem;
  color: #fff;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;

  a {
    color: #fff;
  }

  #block-pruebah-branding{
    margin-bottom: 2rem;
  }
}
