{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--pruebah-2-col',
    'flexcol',
  ]
%}

{% if content %}
	<div{{attributes.addClass(classes)}}>

		<div class="flexcol__2 flexcol__2__content">
			{{ content.content }}
		</div>

		{% if content %}
			<div class="flexcol__2 flexcol__2__sidebar">
				{{ content.sidebar }}
			</div>
		{% endif %}
	</div>
{% endif %}
